:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --color-pointed-btn: #188CE8;
    --color-btn-text-pointed: #2196F3;
    --color-aссent: #757575;
    --color-text: #212121;
    --color-text-light-fon: #FFFFFF;
    --color-text-dark-fon: #000000;
    --color-footer-contakts:#ffffff99;
    --section--pt: 94px;
    --section--pb: 94px;
    
}

body {
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

.link {
    text-decoration: none;
    display: inline-block;
}

.list {
    list-style: none;
}

.address {
    font-style: normal;
}


.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 94px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--color-btn-text-pointed);
}

.logo-light-theme {
    color: var(--color-text-dark-fon);
}

.logo-dark-theme {
    color: var(--color-text-light-fon);
}

.section-subtitel {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--color-text);
}

/* =============== HEADER =============== */

.header {
    box-sizing: content-box;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #C4C4C4;

}

.header .container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    align-items: center;
}

.navigation-item:not(:last-child) {
    margin-right: 50px;
}

.navigation-contacts-list {
    margin-left: auto;
    display: flex;
}

.navigation-contacts-item {
    margin-right: 50px;
}
.navigation-contacts-item:last-child {
    margin-right: 0;
}

.navigation-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--color-text);

}

.navigation-link:hover,
.navigation-link:focus{
    color: var(--color-btn-text-pointed);
}

.tel-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--color-aссent);

}

.tel-link:hover,
.tel-link:focus {
    color: var(--color-btn-text-pointed);
}

.post-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--color-aссent);
}

.post-link:hover,
.post-link:focus {
    color: var(--color-btn-text-pointed);
}
/* =============== END HEADER =============== */

/* =============== HERO =============== */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: #2F303A;

}

.hero-titel {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--color-text-light-fon);
}

.modal-button {
    border: none;
    min-width: 200px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--color-btn-text-pointed);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    color: var(--color-text-light-fon);
    

}

.modal-button:hover,
.modal-button:focus {
    background-color:var(--color-pointed-btn);
}
/* =============== END HERO =============== */


/* =============== FEATURES =============== */


.features {
    padding-top: var(--section--pt);
    padding-bottom: var(--section--pb);
}


.features-list {
    display: flex;
     margin-right: -30px;
}


.features-item {
    flex-basis:calc((100% - 90px) / 4);
    margin-right: 30px;
}


.features-subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--color-text);
}

.features-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--color-aссent);
}
/* =============== END FEATURES =============== */


/* =============== OUR WORK =============== */

.work {
    padding-bottom: var(--section--pb);
}

.work-list {
    display: flex;
    margin-right: -30px;
}

.work-item {
    flex-basis: calc((100% - 90px) /3);
    margin-right: 30px;
}

/* =============== END OUR WORK =============== */

/* =============== TEAM =============== */

.team{
    padding-bottom: var(--section--pb);
    padding-top: var(--section--pt);
    background-color: #F5F4FA;
}

.team-list {
    display: flex;
    margin-right: -30px;
}

.team-item {
    flex-basis: calc((100% - 120px) / 3);
    margin-right: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--color-text);

}

.team-des {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--color-aссent);
}

.team-des-images {
    padding: 30px 32px;
}

/* =============== END TEAM =============== */

/* =============== FOOTER =============== */

.footer {
    padding-bottom: 60px;
    background-color: #2F303A;
}

.footer .logo{
    padding-top: 60px;
    padding-bottom: 20px;
    margin-right: 0;
}
.footer-map-link {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--color-text-light-fon);
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-contacts-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--color-footer-contakts);
}

/* =============== END FOOTER =============== */



/* =============== HEADER PARTFOLIO =============== */

.filter {
    padding-top: var(--section--pt);
    padding-bottom: var(--section--pb);
}

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-item {
    margin-right: 8px;
}

.filter-button {
    background: #F5F4FA;
    border-radius: 4px;
}

.filter-item:nth-child(5) {
    margin-right: 8px;
}

.filter-button {
    padding: 6px 22px;
    border: none;
    min-width: 73px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    letter-spacing: 0.03em;
    color:var(--color-text);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--color-text-light-fon);
    background-color:var(--color-btn-text-pointed);
}

/* =============== END HEADER PARTFOLIO =============== */

/* =============== PARTFOLIO RROJECT =============== */

.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}

.project-item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-bottom: 30px;
}

.des-project-images {
    padding: 20px 24px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.project-subtitle {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--color-text);
}

.project-description {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

color: var(--color-aссent);
}

